<div class="course" [ngClass]="{'top-rated': course.topRated }" appBorderHighlight [courseDate]="course.date">
  <span class="title">{{course.title | uppercase}}</span><br>
  <span class="description">{{course.description}}</span>
  <img *ngIf="course.topRated" src="https://png.icons8.com/metro/540/star.png"/>
  <span class="duration">Duration: {{course.duration | formatDuration}}</span>
  <br>
  <span class="date">Available from: {{course.date | date}}</span>
  <br>
  <button (click)="removeCourse()">DELETE</button>
  <button>EDIT COURSE</button>
</div>
